- include_stylesheet 'admin/taggable'
- include_javascript 'autocomplete'
- include_javascript 'admin/taggable'

- fields_for :page, @page do |fields|
  %p.keywords
    %label{:for=>"page_keywords"}
      =t('tags')
    = fields.text_field :keywords, :class => 'textbox tagger'
  %p.title
    %label{:for=>"page_title"}= t('page_title')
    = fields.text_field :title, :class => 'textbox', :maxlength => 255
