- include_stylesheet 'admin/taggable'
- include_javascript 'autocomplete'
- include_javascript 'admin/taggable'
- fields_for :page, @page do |f|
  %tr
    %th.label
      = f.label :keywords
    %td.field
      = f.text_field :keywords, :class => 'textbox tagger'