- include_stylesheet 'admin/taggable'
- include_javascript 'admin/controls'
- include_javascript 'admin/taggable'
- fields_for :asset, @asset do |f|
  %tr
    %th.label
      = f.label :keywords
    %td.field
      = f.text_field :keywords, :class => 'textbox tagger'
