ul.cloud {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1.3em;
  margin-left: -5px; }
  ul.cloud li {
    display: inline;
    float: left;
    letter-spacing: -0.04em;
    height: 1.3em;}
    ul.cloud li a { 
      padding: 5px;}
    ul.cloud li.cloud_0 a {
      font-size: 0.9em;
      color: #cfe4ee;
      font-weight: 100; }
    ul.cloud li.cloud_1 a {
      font-size: 1.2em;
      color: #b1d2e3; 
      font-weight: 200;}
    ul.cloud li.cloud_2 a {
      font-size: 1.5em;
      color: #a0c8de; 
      font-weight: 300;}
    ul.cloud li.cloud_3 a {
      font-size: 1.8em;
      color: #85b8d5; 
      font-weight: 400;}
    ul.cloud li.cloud_4 a {
      font-size: 2.1em;
      color: #71adce; 
      font-weight: 500;}
    ul.cloud li.cloud_5 a {
      font-size: 2.4em;
      color: #559dc4; 
      font-weight: 600;}
    ul.cloud li.cloud_6 a {
      font-size: 2.4em;
      color: #559dc4;
      font-weight: 700; }
    ul.cloud li a:hover {
      background-color: #d1005d; 
      color: white;}

ul.checklist {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;}
  ul.checklist li {
    height: 1.5em;
    letter-spacing: -0.04em;}
    ul.checklist li a { 
      color: #7ab2a2;}
      ul.checklist li.checked a { 
        color: #1C8064;}
    ul.checklist li.cloud_0 a {
      font-size: 0.7em;
      font-weight: 100; }
    ul.checklist li.cloud_1 a {
      font-size: 0.8em;
      font-weight: 200;}
    ul.checklist li.cloud_2 a {
      font-size: 1em;
      font-weight: 300;}
    ul.checklist li.cloud_3 a {
      font-size: 1.2em;
      font-weight: 400;}
    ul.checklist li.cloud_4 a {
      font-size: 1.4em;
      font-weight: 500;}
    ul.checklist li.cloud_5 a {
      font-size: 1.6em;
      font-weight: 600;}
    ul.checklist li.cloud_6 a {
      font-size: 1.8em;
      font-weight: 700; }
    ul.checklist li input {

    }
  
    
ul.requested, ul.available {
  margin: 0;
  padding: 0;
}    

ul.requested li, ul.available li {
  list-style: none;
}

ul.requested li a {
  list-style: none;
  color: #c00;
  padding-left: 20px;
  background: transparent url(/images/admin/minus.png) no-repeat left center;
}

ul.available li a {
  list-style: none;
  color: #0c0;
  padding-left: 20px;
  background: transparent url(/images/admin/plus.png) no-repeat left center;
}

div#marginalia h4 {
  margin: 8px 0 4px 0;
}
