- include_stylesheet 'admin/tags'
- url = Radiant::Config['tags.page'] || '/tags'

%div.cloud
  - @tags.each do |tag|
    = link_to tag.title, admin_tag_url(tag), :style => "font-size: #{tag.cloud_size.to_f * 2.5}em;"
    
#actions
  %ul
    %li= link_to image('plus') + " " + "new tag", new_admin_tag_url
