- @page_title = 'Tag: ' + @tag.title + ' - ' + default_page_title
- include_stylesheet 'admin/taggable'
- include_javascript 'admin/taggable'

- render_region :main do |main|
  - main.edit_header do
    %h1
      Edit Tag
    
  - main.edit_form do
    = render :partial => 'form'
