- @page_title = "New tag" + ' - ' + default_page_title
- include_stylesheet 'admin/taggable'
- include_javascript 'admin/taggable'

- render_region :main do |main|
  - main.edit_header do
    %h1
      New Tag
    %p 
      Tags are usually added while editing pages (or other tagged items). There you can create several tags at once just by typing a list into the 'keywords' field.
      If you'd like a bit more control than that, you can also create and describe tags one at a time here:

  - main.edit_form do
    = render :partial => 'form'
